<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Crear cuenta | Home Banking</title>
</head>
<body>
    <header>
        <h1 class="logo">Home Banking</h1>
    </header>
    <section class="signIn">
        <div class="signInWrapper">
        <form>
            <div class="inputContainer">
                <label for="name" class="labelPlaceholder" id="labelName">Nombre</label>
                <input type="text" name="name" id="name">
            </div>
            <div class="inputContainer">
                <label for="lastName" class="labelPlaceholder" id="labelLastName">Apellido</label>
                <input type="text" name="lastName" id="lastName">
            </div>
            <div class="inputContainer">
                <label for="dni" class="labelPlaceholder" id="labelDni">DNI</label>
                <input type="text" name="dni" id="dni">
            </div>
            <div class="inputContainer">
                <label for="email" class="labelPlaceholder" id="labelEmail">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="inputContainer">
                <label for="password" class="labelPlaceholder" id="labelPassword">Contraseña</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit" class="primaryButton">Crear cuenta</button>
        </form>
    </div>
    </section>
</body>
</html>